.thumb{
	margin:10px;
	height:200px;
	width:200px;
	float:left;
	text-align:center;

}

.thumb  img
{
		display: block;
    margin-left: auto;
    margin-right: auto;
}

.thumb p
{
	font-size:0.8em;
}

.pic{
	margin:10px;
	float:left;
	text-align:center;
}

.pic  img
{
		display: block;
    margin-left: auto;
    margin-right: auto;
}

.pic p
{
	font-size:0.95em;
}

.picInfo{
		display: block;
    margin-left: auto;
    margin-right: auto;
		float:left;
		clear:both;
}